{% extends 'main/base.html' %}

{% block content %}

    <body>
        <!-- We will be using cards to display, read more about it. very interesting features -->

        <div class="card">
            
            &nbsp; &nbsp;
            <strong>
                &nbsp;{{order.vehicle_number|upper}}
            </strong>
            <hr>

            <div class="card-body">

                <p> <strong>Product: </strong> {{ order.product_name }}</p>
                <p> <strong>Driver Name: </strong> {{ order.driver_name }}</p>
                <p> <strong>Driver ID number: </strong> {{ order.driver_id_number }}</p>
                <p> <strong>Order Status: </strong> {{ order.order_status }}</p>
                <p> <strong>Order placed @: </strong> {{ order.created_at }}</p>

            </div>

        </div>
        <br>
        <a href="{% url 'customer_dashboard' %}" class="btn btn-secondary"> Return </a>
        &nbsp;
        <a href="{% url 'update_record' order.id %}" class="btn btn-info"> Update Order </a>
        &nbsp;
        <a href="{% url 'delete_record' order.id %}" class="btn btn-danger"> Delete Order </a>
        &nbsp;
        
    </body>

{% endblock %}